.addressableSegment {
  margin-left: -20px;
  margin-right: -20px;
}

.audienceProfile p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 2px;
}

.audTypeTF {
  width: 534px;
  height: 44px;
  border-radius: 2px;
  border: 1px;
  background-color: #ffffff;
  border-color: #63738a;
}

.audProfile {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
}

.audProfile span {
  margin-top: 7px;
}
